# Configurações de banco de dados
INSTANCE_CONNECTION_NAME = "projeto:regiao:instancia"
DB_USER=postgres
DB_PASSWORD=postgres
DB_HOST=localhost
DB_PORT=5432
DB_NAME=meubanco

# Porta da aplicação dentro do container
APP_PORT=8000
