# Configurações de banco de dados
INSTANCE_CONNECTION_NAME = "projeto:regiao:instancia"
DB_USER = "user"
DB_PASSWORD = "pass"  # Secret key
DB_HOST = "localhost"
DB_PORT = 5432
DB_NAME = "mydb"
API_KEY = "Access token" # Secret key